@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "Applicatin Roles";
}

<h1>View Roles</h1>
<p>
    <a asp-action="Create">Create Role</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
        
            <th>@Html.DisplayNameFor(model => model.Name)</th>
        
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var Item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => Item.Id)</td>
                <td>@Html.DisplayFor(modelItem => Item.Name)</td>
            </tr>
        }
    </tbody>
</table>